.audio-btn{
	display: flex;
	margin: 0 auto 1.25em auto;
	align-items: center;
	position: relative;
	border-style:solid;
	border-width:1px;
	border-color:#333;
	background-color:#252525;
	text-transform:uppercase;
	font-size:10px;
	height: 40px;
	letter-spacing:0.1em;
	cursor:pointer;
	width: calc(100% - 2px);
	clear: both;
	transition: all 0.5s;
	color: #efefef;
	box-shadow: none;
	line-height: 1.1em;
}

.audio-btn:hover{
	background-color: #323232;
}

.play_audio.audio-btn svg{
	display: inline-block;
	position: relative;
	width: 26px;
	height: 26px;
	margin-right: 8px;
	top: 0;
	fill:#efefef;
}

.audio-btn.active{
	background-color: #333;
	color: #fff;
}

.play_audio.audio-btn.active svg{
	fill:#fff;
}


.audio-play-btn {
	width: 25%;
	height: auto;
	box-shadow: 0px 0px 10px black;
	border-radius: 50%;ß
	transition: all 0.5s;
	opacity: 0.3;
}

.audio-btn-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}





/* Audio Footer Stuff */


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.audio_footer{
    display:block;
    position:fixed;
    bottom:-95px;
    width:100%;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9999;
}

.audio_footer.show{
	     bottom:40px;
	}
	

.audio-box{
    display:block;
    position:relative;
    margin: 0 auto;
    max-width:860px;
    width: calc(100% - 40px);
}

.audio-controls{
    width:auto;
    height: auto;
    padding: 5px 5px 0 5px;
    background-color:#000;
    display:flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    right:0px;
	top:-32px;
    border-radius:6px 6px 0 0;
    color:#fff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.audio-controls svg{
	width: 28x;
	padding: 4px 8px 4px 8px;
	height: 14px;
    text-align: center;
	border-radius: 3px;
	fill: #efefef;
	transition: all 0.5s;
}

.audio-controls svg:hover{
	background-color: #323232;
}

.audio_footer.show{
	opacity: 1;
     bottom:40px;
     z-index: 999;
}

.mini-audio-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    position: fixed;
    bottom:30px !important;
    right:-40px;
    background-color:#000;
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition:all 1s;
}

.mini-audio-btn svg{
	padding: 5px;
	fill:#fff;
	width: 32px;
	height: 32px;
}

.mini-audio-btn:hover{
	background-color: #666;
}

.mini-audio-btn .material-icons{
	font-size: 16px;
}

.mini-audio-btn.show{
     right:20px;
     display:flex !important;
}


.playlist{
	margin-top: 20px;
	 border-style:solid;
    border-width:0 0 1px 0;
    border-color:#333;
}
	
	
	.audio_footer{
	    display:block;
	    position:fixed;
	    bottom:-95px;
	    width:100%;
	    transition: all 1s;
	}
	
	.audio-box{
	    display:block;
	    position:relative;
	    margin: 0 auto;
	    max-width:860px;
	    width: calc(100% - 40px);
	}
	
	.audio-controls .material-icons{
		font-size: 18px;
		cursor: pointer;
		border-radius: 3px;
		width: 40px;
		text-align: center;
		transition: all 0.5s;
		margin: 5px;
	}
	
	.audio-controls .material-icons:hover{
		background-color: #595959;
	}
	
	
	.mini-audio-btn{
	    display: flex;
	    position: fixed;
	    align-items: center;
	    justify-content: center;
	    color:#fff;
	    position: fixed;
	    bottom:40px;
	    right:-40px;
	    background-color:#000;
	    width:30px;
	    height:30px;
	    border-radius:50%;
	    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	    transition:all 1s;
	    z-index: 99999;
	}
	
	.mini-audio-btn:hover{
		background-color: #666;
	}
	
	.mini-audio-btn .material-icons{
		font-size: 16px;
		cursor: pointer;
	}
	
	.mini-audio-btn.show{
	     right:20px;
	     display:flex !important;
	}	
	
	
    .plyr--audio .plyr__controls{
    border-radius:6px 0 6px 6px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-color:#000;
	}
	
	.plyr__controls__item.plyr__menu{
	    display:none;
	}
	
	
	.plyr__controls__item.plyr__volume{
	    display:none !important;
	}
	
	.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true]{
		background: #595959;
	}
	
	.plyr__time{color:#fff;font-family: 'Lato', sans-serif; font-weight: 700;}
	.plyr__control{color:#fff;}
	.plyr__progress {font-family: 'Lato', sans-serif; font-weight: 700;}
	.plyr--full-ui input[type=range]{
		color: #ff0000 !important;
	}

