.audio-btn{
	display: flex;
	margin: 0 auto 1.25em auto;
	align-items: center;
    position: relative;
    border-style:solid;
    border-width:1px;
    border-color:#333;
    background-color:#000;
    text-transform:uppercase;
    font-size:10px;
    height: 40px;
    font-weight:700;
    letter-spacing:0.1em;
    cursor:pointer;
	width: 100%;
    clear: both;
    transition: all 0.5s;
    padding: 3px 15px 4px 15px;
    color: #ccc;
    box-shadow: none;
}


.audio-btn.active{
	background-color: #75000d;
	color: #fff;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.audio-btn .material-icons{
	display: inline-block;
	position: relative;
    font-size: 16px;
    margin-right: 5px;
    top: 0;
}
