.acc-head{
	display: flex;
	position: relative;
	text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    position: relative;
	width: calc(100% - 42px);
	padding: 15px 20px 14px 20px;
	background-color: #252525;
	border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #4e4e4e;
    margin-top: -1px;
    font-size: 12px;
    letter-spacing: 0.25em;
    transition: all 0.5s;
    color: #efefef;
}

.acc-head.active{
	background-color: #323232;
	border-width: 1px 0 1px 0;
}

.acc-head svg{
	height: 16px;
	width: 24px;
	fill: #999;
	transition: all 0.5s;
}

.acc-head .toggle-on{
	display: none;
}

.acc-head.active .toggle-off{
	display:none;
}

.acc-head.active .toggle-on{
	display: block;
}

.acc-body{
	display: none;
	flex-wrap: wrap;
	position: relative;
	width: calc(100% - 42px);
	padding: 20px 20px 5px 20px;
	background-color: #000;
	border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #333;
    color: #000;
    margin-top: 0;
}

.acc-body p{
	color: #efefef;
	margin-bottom: 20px;
}

.acc-body p:last-child{
	padding-bottom: 0;
}

.acc-body .block-editor-inner-blocks{
	position: relative;
	clear: both;
	width: 100% !important;
}

.acf-block-preview .acc-body{
	display: flex !important;
}

.acc-body.active{
	display: block;
}

.acc-body p{
	line-height: 2em;
}

.acc-body p:first-child{
	margin-top: 0 ;
}

.acc-body .audio-btn:last-child{
	margin-bottom: 0;
}