img.book-image{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
	transition: all 0.5s;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
}

.envelope{
	margin-bottom: 10px;
}

.envelope-box{
	margin-bottom: 20px;
}

.book-image:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}


.desk-preso{display:block;}
.mobile-preso{display: none;}
.mobile-preso-title{
	margin: 10px 0 20px 0;
	text-align: center;
}

.mobile-preso-title a{
	text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25em;
}

.mobile-preso-title svg{
	display: inline-block;
	position: relative;
	width: 14px;
	top: 2px;
	margin-left: 5px;
	height: auto;
	fill:#FFFFFF;
}

.preso-loader{
	background-color: #000;
	display: block;
	position: fixed;
	top: 30px;
	left: 20px;
	width: calc(100% - 40px);
	height: calc(100vh - 60px);
	z-index: 9999;
}

@media only screen and (max-width:768px) {
	.desk-preso{display:none !important; }
	.mobile-preso{display: block;}
}