.link-button{
	display: flex;
	margin: 0 auto 1.25em auto;
	align-items: center;
    position: relative;
    border-style:solid;
    border-width:1px;
    border-color:#333;
    background-color:#000;
    text-transform:uppercase;
    font-size:10px;
    height: 40px;
    font-weight:700;
    letter-spacing:0.1em;
    cursor:pointer;
	width: calc(100% - 32px);
    clear: both;
    transition: all 0.5s;
    padding: 3px 15px 4px 15px;
    color: #ccc;
    box-shadow: none;
}

.link-button:hover{
	 background-color:#222222;
}

.acc-body .link-button:last-child{
	margin-bottom: 0;
}


.link-button svg{
	display: inline-block;
	position: relative;
	width:10px;
	height: 10px;
    margin-right: 5px;
    top: 0;
    fill:#ccc;
}
